@media (max-width: 900px) {
    .container {
        width: 650px;
    }
        .container > .right {
            padding: 50px;
        }
}
@media (max-width: 700px) {
    .container {
        width: 450px;
    }
        .container > .right {
            padding: 30px;
        }
        .container > .right > .close {
            width: 50px;
            height: 50px;
        }
            .close > .line {
                width: 20px;
            }
            .close > .line:first-of-type {
                top: 12px;
                left: 24px;
            }
            .close > .line:last-of-type {
                top: 26px;
                left: 24px;
            }
        .form > .form-row:last-of-type {
            text-align: center;
        }
            .form > .form-row:last-of-type > .btn {
                width: 100%;
                float: none;
            }
            .form > .form-row:last-of-type > span {
                float: none;
            }
            .form > .form-row:last-of-type > a {
                float: none;
            }
}

@media (max-width: 500px) {
    .container {
        width: 300px;
    }
        .container > .left {
            display: none;
        }
        .container > .main-title {
            display: inline-block;
            width: 100%;
            text-align: center;
            padding: 20px 0 10px;
            color: #fff;
            font-weight: normal;
        }
        .container > .right {
            width: 100%;
        }
}

@media (max-height: 600px) {
    body {
        position: relative;
        text-align: center;
    }
    .background {
        width: 100vw;
        position: absolute;
        top: 0px;
        left: 0;
        bottom: 0px;
    }
    .container {
        margin-top: 10px;
        margin-bottom: 10px;
        position: static;
        top: 0;
        left: 0;
        transform: translate(0, 0);
    }
    .form > .form-row > label {
        text-align: left;
    }
}